@{
    ViewData["Title"] = "Nuestra Historia";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    La región peruana de Ayacucho fue devastada durante el conflicto con el grupo guerrillero Sendero Luminoso, provocando la salida de los principales proveedores de bebidas. Fue entonces cuando la familia Añaños comenzó a producir bebidas gaseosas bajo la marca "Kola Real" a partir de una bebida con sabor a naranja. Centraron su actividad en la venta de bebidas a los segmentos de la población no atendida por las marcas líderes en ese momento, que se centraban sólo en los consumidores con mayor poder adquisitivo. La elección de AJE de ofrecer productos de alta calidad a las personas con recursos limitados fue clave para su éxito.
</p>
