@{
    ViewData["Title"] = "Necesita ayuda?";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Av. la Paz Nro. 131 Santa Maria de Huachipa<br />
    (Alt. Km8 Ramiro Priale)<br />
    <abbr title="Teléfono">T:</abbr>
    +51.1.313.3530
</address>

<address>
    <strong>Inversionistas:</strong> <a href="mailto:investors@ajegroup.com">investors@ajegroup.com</a><br />
    <strong>Medios:</strong> <a href="mailto:globalcommunications@ajegroup.com">globalcommunications@ajegroup.com</a>
</address>
