@{
    ViewData["Title"] = "Inicio";
}

@section Styles{
    @*<link rel="stylesheet" href="~/css/chatbot.css">*@
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/965x321eng.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/AJE-Global-Brands.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ODBO_AJE_Produit_Pulp_03-945x321.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/yoga-horizontal-01.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>QUIÉNES SOMOS</h2>
        <p style="text-align: justify;">
            AJE es una de las empresas multinacionales más grandes de bebidas, con presencia en más de 23 países de Latinoamérica, Asia y África.   A nivel mundial, AJE es la décima mayor empresa de refrescos en volumen de ventas y el cuarto mayor productor de bebidas carbonatadas (Fuente: Euromonitor, 2011). Con un fuerte compromiso para "democratizar el consumo", AJE llega a nuevos grupos de consumidores y les proporciona acceso a productos de alta calidad a precios justos.
        </p>
        <a class="btn btn-primary" href="https://www.ajegroup.com/es/acerca-de-aje/historia/">
            Descubre AJE
        </a>

    </div>
    <div class="col-md-8">
        <h2>MARCAS</h2>
        <div style="display:inline-flex">
            <img src="~/images/AJE-Global-Brands.png" alt="Marcas Globales" style="height: 20rem; margin: 0px 20px 0px 0px;" />
            <p style="text-align: justify;">
                La marca más emblemática de AJE es BIG, y se vende en todos los mercados donde la compañía está presente. El portafolio global de productos de AJE se complementa con marcas como CIELO (agua), Cifrut (jugo), Pulp (néctar), Sporade (bebida con adición de electrolitos), BIG Fresh (carbonatada), Cool Tea (bebida de té) y VOLT (bebida energética).
            </p>
        </div>
        <a class="btn btn-primary" href="https://www.ajegroup.com/es/brands-2/">
            Descubre nuestras marcas
        </a>
    </div>
</div>

@await Html.PartialAsync("_ChatBot")

@section Scripts{

    <script type="text/javascript">

        function sendRequest(init) {
            var url = "/Api/ChatBot/";
            var msg = $("#textInput").val();

            $("#textInput").prop("disabled", true);
            $("#chat_loader").show();

            if (init) {
                msg = 'hola';
            }
            
            if ($("#textInput").val() == "" && init == undefined) {
                toastr.error("Debe ingresar un texto", "Error")
                resetInputChat();
                return;
            }

            if (init == false) {
                appendMessage(true, msg);
            }


            $.post(url, { msg: msg }, function (result) {
                //var obj = JSON.parse(JSON.stringify(result))
                var obj = JSON.parse(result)
                var total = obj.output.text.length;

                for (var i = 0; i < total; i++) {
                    //NotificationToast("sucess", obj.output.text[i], "Watson");

                    appendMessage(false, obj.output.text[i]);

                }

                $("#countChats").text(total);

                resetInputChat();

            })
                .done(function () {
                    resetInputChat();
                })
                .fail(function (error) {
                    resetInputChat();

                    NotificationToast("error", error.statusText, "Error");
                });

        }

        function resetInputChat() {
            $("#textInput").prop("disabled", false);
            $("#textInput").val(null);
            $("#chat_loader").hide();
            $("#textInput").focus();
        }

      
        function appendMessage(isUser, message) {
            var nombre = "Watson";
            var clase = "direct-chat-msg";
            var imagen = "/images/user1-128x128.jpg";
            var alig1 = "left";
            var alig2 = "right";

            if (isUser) {
                nombre = "Usuario";
                clase = "direct-chat-msg right";
                imagen = "/images/user3-128x128.jpg";
                var alig1 = "right";
                var alig2 = "left";
            }

            var hora = currentTime();

            var element =   "<div class='" + clase + "'>" +
                            "<div class='direct-chat-info clearfix'>" +
                                "<span class='direct-chat-name pull-" + alig1 + "'>" + nombre + "</span>" +
                                "<span class='direct-chat-timestamp pull-" + alig2 +"'>" + hora + "</span>" +
                            "</div>" +
                            "<img class='direct-chat-img' src='" + imagen + "' alt= '" + nombre + "'>" +
                            "<div class='direct-chat-text'>" + message +
                            "</div>" +
                            "</div>"

            $("#scrollingChat").append(element);

            $("#scrollingChat").scrollTop($("#scrollingChat")[0].scrollHeight);

        }

        function currentTime() {
            var now = new Date();
            now = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();

            return now;
        }
      

    </script>
}
