@{
    ViewData["Title"] = "Inicio";
}

@section Styles{
    <link href="~/WebChat/Weather/weather.css" rel="stylesheet" />
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/965x321eng.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/AJE-Global-Brands.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ODBO_AJE_Produit_Pulp_03-945x321.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/yoga-horizontal-01.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="javascript:void();">
                    Ver más
                </a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>QUIÉNES SOMOS</h2>
        <p style="text-align: justify;">
            AJE es una de las empresas multinacionales más grandes de bebidas, con presencia en más de 23 países de Latinoamérica, Asia y África.   A nivel mundial, AJE es la décima mayor empresa de refrescos en volumen de ventas y el cuarto mayor productor de bebidas carbonatadas (Fuente: Euromonitor, 2011). Con un fuerte compromiso para "democratizar el consumo", AJE llega a nuevos grupos de consumidores y les proporciona acceso a productos de alta calidad a precios justos.
        </p>
        <a class="btn btn-primary" href="https://www.ajegroup.com/es/acerca-de-aje/historia/">
            Descubre AJE
        </a>

    </div>
    <div class="col-md-8">
        <h2>MARCAS</h2>
        <div style="display:inline-flex">
            <img src="~/images/AJE-Global-Brands.png" alt="Marcas Globales" style="height: 20rem; margin: 0px 20px 0px 0px;" />
            <p style="text-align: justify;">
                La marca más emblemática de AJE es BIG, y se vende en todos los mercados donde la compañía está presente. El portafolio global de productos de AJE se complementa con marcas como CIELO (agua), Cifrut (jugo), Pulp (néctar), Sporade (bebida con adición de electrolitos), BIG Fresh (carbonatada), Cool Tea (bebida de té) y VOLT (bebida energética).
            </p>
        </div>
        <a class="btn btn-primary" href="https://www.ajegroup.com/es/brands-2/">
            Descubre nuestras marcas
        </a>
    </div>

    @*//iFrame ChaBot ******
    <iframe src="~/html/ExampleFrame.html" style="border:none;height: 400px;width: 350px;"></iframe>*@

</div>

@await Html.PartialAsync("_ChatBot")

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/chatbot-vca.js"></script>


    <!-- Última versión compilada y minificada -->
    @*<script src="https://tecactus-4b42.kxcdn.com/reniec-sunat-js.min.js"></script>
    <script src="~/js/reniec-vca.js"></script>*@
}
